<!DOCTYPE html>
<html lang="ko">
<head>
    <title>login</title>
</head>
<body>
    <table>
        <form id="login-form">
            <tbody>
                <tr>
                    <td><label for="ID">ID</label></td>
                    <td><input type="email" name="email" id="login-form_id"><br></td>
                </tr>
                <tr>
                    <td><label for="password">PW</label></td>
                    <td><input type="text" name="password" id="login-form_passwd"><br></td>
                </tr>
                <tr>
                    <td>
                        <input type="submit" value="login" id="login-form_login-btn">
                    </td>
                </tr>
            </tbody>
        </form>
    </table>
    <script src='login-cli.js'></script>
</body>
</html>