<!DOCTYPE html>
<html lang="ko">
<head>
    <title>signup</title>
</head>
<body>
    <table>
        <tbody>
            <tr></tr>
            <form id="signup-form">
                <tr>
                    <td><label for="ID">ID</label></td>
                    <td><input type="email" name="email" id="signup-form_id"><br></td>
                </tr>
                <tr>
                    <td><label for="password">PW</label></td>
                    <td><input type="text" name="password1" id="signup-form_passwd1"><br></td>
                </tr>
                <tr>
                    <td><label for="re-password">PW Confirmation</label></td>
                    <td><input type="text" name="password2" id="signup-form_passwd2"><br></td>
                </tr>
                <tr>
                    <td>
                        <input type="submit" value="signup" id="signup-form_signup-btn">
                    </td>
                </tr>
            </form>
        </tbody>
    </table>
    <script src="signup-cli.js"></script>
</body>
</html>